/*  For All Pages*/
*{
    box-sizing: border-box;
    
}


/*  For Recipe Pages*/
.main-title {
    color: ghostwhite;
}
.sub-tabs {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-shadow: rgb(141, 139, 139) ;
    color: rgb(255, 255, 255);
    
    
}
.sub-tabs a:link, a:visited {
    color: rgb(255, 255, 255,1);
    text-decoration: none;
  }
  
.sub-tabs a:hover {
    color: rgba(255, 8, 0, 1);
    transition: all 500ms ease-in-out;
  }
  
.sub-tabs  a:active {
    color: rgb(35, 6, 73);
  }
body{
    background-size: 80%;
}







.recipe-body {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    max-height: 1000vw;
    display: flex;
    background-color: rgb(233, 233, 233, 0.3);
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.name{

    font-size: 90px;
    align-self: center;
    vertical-align: top;
    
}
.step{
    font-size: 250%;
}
.paragraph{
    font-size: 200%;
    word-wrap: break-word;
}
.image{
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
    align-self: center;
}
.list-elements{
    font-size: 200%;
    background-color: rgb(255, 235, 205,.4);
}