<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Delicious Recipes</title>
    <link href = "https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/recipestyles.css') }}">
    
    <script src="https://kit.fontawesome.com/ad5cc6e992.js" crossorigin="anonymous"></script>
    

    </head>
    <body background="{{ url_for('static', filename='images/bg.jpg') }}">
        <div class = "main-title">
            <h1 align = "center" > Recipe Paradise</h1>
        </div>
        <div class = "sub-tabs">
            <h2> <a href="{{url_for('index')}}"> Home </a></h2>
            <h2> <a href="{{url_for('trending')}}"> Trending Recipes </a> </h2>
            <h2> <a href="{{url_for('classics')}}"> Classic Recipes </a> </h2>
            <h2> <a href="{{url_for('lunch')}}"> Lunch Time </a> </h2>
            <h2> <a href="{{url_for('desserts')}}"> Dessert </a> </h2>
        </div>
        <div class="recipe-body">
            <h2 class = "name" >Payasam</h2>
            
            
            <img src="{{ url_for('static', filename='images/payasam.jpg') }}" alt="Image of Payasam" border = 3  class = "image">
            
            <h4 class="step"> Ingredients </h4>

            <ul class="list-elements">
                <li >2 1/2 cup rice </li>
                <li>1 1/2 cup sugar</li>
                <li>15 chopped pistachios</li>
                <li>2 tablespoon saffron</li>
                <li>15 chopped cashews</li>
                <li>5 cup boiled full cream milk</li>
                <li>15 chopped almonds</li>
                <li>15 chopped raisins</li>
                <li>10 green cardamom</li>
                <li>2 tablespoon ghee</li>
            </ul>

            <h4 class="step"> Step 1 Soak rice for half an hour</h4>
            <p class="paragraph" >
                 To prepare this easy recipe, you need to wash the rice under running water and then transfer it into a strainer, this will let all of the water used in washing drain. Then take the rice and transfer it to a bowl full of fresh water and let it soak for around half an hour. After the rice is soaked for the required time, use a strainer and drain the water again and keep the rice in a dry bowl, until it is needed again!
            </p>   
            <h4 class="step">   Step 2 Boil milk with sugar </h4>
            <p class="paragraph"> 
                   After that, take a boiler and put it on medium flame and pour the milk and sugar in it. Let it come to a boil. Meanwhile, cut some almonds, pistachios, raisins and cashews along with around 10 cardamoms and saffron. Keep them aside in separate bowls, until needed.
            </p>    
            <h4 class="step">   Step 3 Add rice to the boiling milk </h4>
            <p class="paragraph"> 
                  After that, add the drained rice to the boiling milk and then let it cook until the rice grains turn tender enough. After a few minutes add cardamom and saffron to the boiling rice and milk mixture and keep stirring it.
            </p>    
            <h4 class="step">   Step 4 Cook until thick in consistency </h4>
            <p class="paragraph"> 
                Switch off the flame after the Payasam is a little thick in consistency and has some flavour, aroma and colour of saffron and cardamom to it. Set it aside. Quickly, take a frying pan and add some ghee to it and roast the dry fruits in it. Take out the dry fruits and season them on the Payasam, while it's still hot. Add a pinch of saffron strands on top for decorating it! Your Payasam is ready to serve. You could consume it hot or cold, just as you like it!
            </p>

        </div>
    </body>
</html>